*{
    text-align: center;
}
h1{
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: serif;
    font-size: large;
}
img{
 width: 6cm;
}
button{
    text-decoration: none;
    text-align: center;
    
}

